html {
  scroll-behavior: smooth;
  #root {
    color: rgb(65, 64, 66);
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.5px;

    .next-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;
      font-size: 14px;
    }
    .backbtn {
      position: absolute;
      top: 30px;
      left: 30px;
    }
  }
}
